<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <title>TOP</title>
</head>
<body>
<div class="header-contents">
    <h1>TODOリスト</h1>

    <div th:if="${errorMessage}" class="alert alert-danger" style="color: red; font-weight: bold;">
        <p th:text="${errorMessage}"></p>
    </div>

    <p>本日の日付：<span th:text="${#temporals.format(todayDate, 'yyyy/MM/dd')}"></span></p>

    <form th:action="@{/new}" method="get" style="display: inline-block;">
        <button type="submit" class="btn btn-primary">新規タスク</button>
    </form>

    <form th:action="@{/search}" method="get">
        <div class="filter-area">
            <label for="startDate">期間:</label>
            <input type="date" id="startDate" name="startDate" th:value="${startDate}">

            <span> ～ </span>

            <input type="date" id="endDate" name="endDate" th:value="${endDate}">

            <label for="status-select">ステータス：</label>

            <select name="status" id="status-select">
                <option value="1">未着手</option>
                <option value="2">実行中</option>
                <option value="3">ステイ中</option>
                <option value="4">完了</option>
            </select>

            <label for="task-content">タスク内容：</label>
            <input type="text" id="task-content" name="content" maxlength="140">

            <input type="submit" value="絞込"/>
        </div>
    </form>
</div>
<div class="main-contents">
    <table>
        <thead>
        <tr>
            <td>タスク内容</td>
            <td>ステータス</td>
            <td>タスク期限</td>
            <td></td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task : ${taskList}">
            <td th:text="${task.content}"></td>

            <td>
                <form th:action="@{/tasks/update-status/{id}(id=${task.id})}" method="post"
                      onsubmit="return confirm('ステータスを変更しますか？');">
                    <select name="status">
                        <option value="1" th:selected="${task.status == 1}">未着手</option>
                        <option value="2" th:selected="${task.status == 2}">実行中</option>
                        <option value="3" th:selected="${task.status == 3}">ステイ中</option>
                        <option value="4" th:selected="${task.status == 4}">完了</option>
                    </select>
                    <button type="submit" class="btn-change">変更</button>
                </form>
            </td>
            <td th:text="${task.limitDate != null ? #temporals.format(task.limitDate, 'yyyy/MM/dd') : ''}"
                th:classappend="${task.limitDate != null and #temporals.format(task.limitDate, 'yyyy-MM-dd') lt #temporals.format(todayDate, 'yyyy-MM-dd')} ? 'text-danger' : 'text-warning'">
            </td>
            <td>
                <form th:action="@{/edit/{id}(id=${task.id})}" method="GET">
                    <button type="submit" class="btn-edit">編集</button>
                </form>
            </td>
            <td>
                <form th:action="@{/delete/{id}(id=${task.id})}" th:method="delete"
                      onsubmit="return confirm('このタスクを削除してもよろしいですか？');">
                    <button type="submit" class="btn-delete">削除</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
